:root {
  font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--link-color);
}

body, h1, h2 {
  margin: 0;
  padding: 0;
}

h2{
  color: var(--link-color);
}

html{
  scroll-behavior: smooth;
}

body {
  display: grid;
  place-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}

.bio-img{
  max-height: 60vh;
  max-width: 100%;
  border-radius: .5em;
}

@media screen and (max-width: 910px){
  .bio-img{
    max-height: 40vh;
  }
}

.bio-greeting{
  font-size: 2em;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  padding: 3em 0em;
  box-sizing: border-box;
  max-width: 1180px;
  gap: 2em;
}