:root{
    --bg-color: #fff;
    --bg-rgb: 255, 255, 255;
    --header-filter: blur(4px);
    --header-bg: rgba(var(--bg-rgb), .8);
    --green-color: #63D27B;
    --blue-color: #5D80F9;
    --text-color-200: #ddd;
    --text-color-400: #aaa;
    --text-color-500: #888;
    --text-color-header: rgb(66, 101, 230);
    --link-color: #5a77e0;
    --text-gradient: linear-gradient(270.17deg, var(--green-color) 14.82%, var(--blue-color) 53.57%);
}

@media screen and (prefers-color-scheme: dark) {
    :root{
        --bg-color: #191b20;
        --bg-rgb: 25, 27, 31;
        --green-color: #63D27B;
        --blue-color: #5D80F9;
        --text-color-400: #777;
        --text-color-500: #aaa;
        --link-color: #7692dd;
        --text-color-header: rgb(152, 175, 255);
        --text-gradient: linear-gradient(270.17deg, var(--green-color) 14.82%, var(--blue-color) 53.57%);
    }
}